# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.env
.venv
.venv*/
venv/

# IDE/editor
.vscode/
.idea/
.DS_Store

# Coverage & test outputs
.coverage
htmlcov/
.pytest_cache/

# Build outputs
build/
dist/
*.egg-info/
